
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:wght@700&display=swap');
body {
    font-family: 'Lobster Two', cursive;
    background: linear-gradient(to right, #ff7e5f, #feb47b);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
    background: rgb(134, 121, 102);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    margin-bottom: 20px;
    color: #333;
}

.input-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 80px;
    text-align: center;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #ff7e5f;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

button:hover {
    background-color: #feb47b;
    transform: scale(1.05);
}

.result {
    margin-top: 20px;
    font-size: 1.2em;
    color: white;
    opacity: 0;
    transition: opacity 0.5s;
}

.result.show {
    opacity: 1;
}
.result:hover{
    color: aqua;
}
.tagline {
    font-size: 1.2em;
    color: #fff;
    margin-bottom: 20px;
    font-style: italic;
}
